<div class="my-2">
  <button class="btn btn-primary mb-2" (click)="addButtonAction()"><fa-icon [icon]="faPlusCircle"></fa-icon> New Tag</button>
  <div *ngIf="showForm" class="mb-2">
    <h3>
      New Tag
    </h3>
    <form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
      <div class="row mb-2">
        <div class="col-md-4 formGroup">
          <label for="titleInput">Title</label>
          <input type="text" id="titleInput" class="form-control" formControlName="title" />
        </div>
        <div class="col-md-4 formGroup">
          <label for="colorInput">Color</label>
          <input type="color" id="colorInput" class="form-control p-0" formControlName="hexColorCode" />
        </div>
        <div class="col-md-4 formGroup">
          <label for="tagTypeInput">Tag-Type</label>
          <select id="tagTypeInput" class="form-control p-0" formControlName="type">
            <option *ngFor="let type of tagTypes" [ngValue]="type.key">{{ type.value }}</option>
          </select>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-outline-primary mr-2" type="button" (click)="resetForm()"><fa-icon [icon]="faUndoAlt"></fa-icon> Reset</button>
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="my-1">
  <div class="row justify-content-end">
    <select class="col-md-3 form-control p-0 my-1" [(ngModel)]="displayTagType" (change)="displayTagTypeChange($event.target.value)">
      <option *ngFor="let type of tagTypes" [ngValue]="type.key">{{ type.value }}</option>
    </select>
  </div>  
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Color
        </th>
        <th>
          # of Payments
        </th>
        <th>
          Created
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="displayedTags">
      <tr *ngFor="let tag of displayedTags">
        <td>{{ tag.title }}</td>
        <td [style.background-color]="tag.hexColorCode">{{ tag.hexColorCode }}</td>
        <td>{{ tag.payments.length }}</td>
        <td>{{ tag.created | date }}</td>
        <td>
          <a class="col" (click)="editTag(tag)"><fa-icon class="icon" [icon]="faEdit"></fa-icon></a>
          <a class="col" (click)="deleteTag(tag)"><fa-icon class="icon" [icon]="faTrash"></fa-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
