<div class="my-2 row">
  <div class="col-lg-6 col-12">
    <apx-chart *ngIf="monthlyAveragePieChartOptions"
               [series]="monthlyAveragePieChartOptions.series"
               [title]="monthlyAveragePieChartOptions.title"
               [chart]="monthlyAveragePieChartOptions.chart"
               [labels]="monthlyAveragePieChartOptions.labels"
               [colors]="monthlyAveragePieChartOptions.colors"
               [plotOptions]="monthlyAveragePieChartOptions.plotOptions"
               [tooltip]="monthlyAveragePieChartOptions.tooltip">
    </apx-chart>
  </div>
  <div class="col-lg-6 col-12">
    <apx-chart *ngIf="monthlyBarChartOptions"
               [series]="monthlyBarChartOptions.series"
               [title]="monthlyBarChartOptions.title"
               [chart]="monthlyBarChartOptions.chart"
               [xaxis]="monthlyBarChartOptions.xaxis"
               [yaxis]="monthlyBarChartOptions.yaxis"
               [dataLabels]="monthlyBarChartOptions.dataLabels"
               [plotOptions]="monthlyBarChartOptions.plotOptions">
    </apx-chart>
  </div>
</div>
<div class="my-2 row">
  <div class="col-12">
    <apx-chart *ngIf="scatterChartOptions"
               [series]="scatterChartOptions.series"
               [title]="scatterChartOptions.title"
               [chart]="scatterChartOptions.chart"
               [xaxis]="scatterChartOptions.xaxis"
               [yaxis]="scatterChartOptions.yaxis"
               [dataLabels]="scatterChartOptions.dataLabels"
               [plotOptions]="scatterChartOptions.plotOptions">
    </apx-chart>
  </div>
</div>
