<!-- MOBILE - STILL WIP -->
<nav class="navbar container d-block d-sm-none p-0">
  <ul class="navbar-nav mr-auto" *ngIf="expandedOnMobile">
    <li class="nav-item pl-2">
      <a class="nav-link font-weight-bold" [routerLink]="['']"><fa-icon [icon]="faMoneyBillWave"></fa-icon> Payments</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link font-weight-bold" [routerLink]="['ReoccuringPayments']"><fa-icon [icon]="faChartLine"></fa-icon> Reoccuring</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link font-weight-bold" [routerLink]="['Tags']"><fa-icon [icon]="faTag"></fa-icon> Tags</a>
    </li>
    <li class="nav-item pl-2">
      <a class="nav-link font-weight-bold" [routerLink]="['Charts']"><fa-icon [icon]="faChartLine"></fa-icon> Charts</a>
    </li>
  </ul>
</nav>

<!-- DESKTOP -->
<nav class="navbar navbar-expand-sm d-none d-sm-block py-0">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-2">
        <a class="nav-link font-weight-bold" [routerLink]="['']"><fa-icon [icon]="faMoneyBillWave"></fa-icon> Payments</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link font-weight-bold" [routerLink]="['ReoccuringPayments']"><fa-icon [icon]="faHistory"></fa-icon> Reoccuring</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link font-weight-bold" [routerLink]="['Tags']"><fa-icon [icon]="faTag"></fa-icon> Tags</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link font-weight-bold" [routerLink]="['Charts']"><fa-icon [icon]="faChartLine"></fa-icon> Charts</a>
      </li>
    </ul>
  </div>
</nav>
