<!-- MOBILE - STILL WIP -->
<nav class="navbar container d-block d-sm-none p-0">
  <ul class="navbar-nav mr-auto" *ngIf="expandedOnMobile">
    <li *ngFor="let route of routes" class="nav-item pl-2">
      <a class="nav-link font-weight-bold" [routerLink]="[route.route]"><fa-icon [icon]="route.icon"></fa-icon> {{route.title}}</a>
    </li>
  </ul>
</nav>

<!-- DESKTOP -->
<nav class="navbar navbar-expand-sm d-none d-sm-block py-0">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let route of routes" class="nav-item px-2">
        <a class="nav-link font-weight-bold" [routerLink]="[route.route]"><fa-icon [icon]="route.icon"></fa-icon> {{route.title}}</a>
      </li>
      <li class="nav-item px-2 float-right">
        <a class="nav-link font-weight-bold" [routerLink]="" (click)="auth.loginWithRedirect()" *ngIf="!(auth.isAuthenticated$ | async)"><fa-icon [icon]="faSignIn"></fa-icon> Log In</a>
        <a class="nav-link font-weight-bold" [routerLink]="" (click)="auth.logout()" *ngIf="auth.isAuthenticated$ | async"><fa-icon [icon]="faSignOut"></fa-icon> Log Out</a>
      </li>
      <li *ngIf="auth.user$ | async as user" class="p-2">
        <img height="30" src="{{user.picture}}" />
      </li>
    </ul>
  </div>
</nav>
